.landing{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 17%;
    padding-bottom: 5%;
    font-family: 'Gabriela', serif;
    }
    
    .landing h1{
    padding: 2px;
    margin: 5px;
    font-size: 3rem;
    text-shadow: 2px 2px #000000;
    }
    
    .landing p{
    padding: 2px;
    font-size: 1.5rem;
    text-shadow: 1px 1px #000000;
    }
    
    #logo{
    margin-top: 12px;
    margin-bottom: 24px;
    width: 70px;
    height: 70px;
    filter: drop-shadow(2px 2px #000000);
    }
    
    #mouse-click{
    padding-top: 22px;
    margin-top: 10%;
    padding-bottom: 30px;
    animation: bounce 1.5s infinite;
    }
    
    /* Animations */
    @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
    }
    .social-icons-footer {
        background-color: #1a1a1a;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 40px;
        font-family: 'Delius Swash Caps', cursive;
        color: #fff;
        }
        
        .social-icons-container {
        margin-bottom: 30px;
        }
        
        .social-icons-container img {
        height: 40px;
        width: 40px;
        margin: 0 15px;
        filter: grayscale(100%) brightness(50%) opacity(0.6);
        transition: all 0.3s ease-in-out;
        }
        
        .social-icons-container img:hover {
        filter: none;
        transform: translateY(-10px);
        }
        
        .footer-text {
        margin-top: 10px;
        }
        .about-us{
            text-align: center;
            padding-bottom: 60px;
            padding-top:60px;
            font-family: 'Century Gothic', serif;
          }
          #about{
            font-family: 'Gabriela', serif
          }